*{
	
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
background: #173066;
height: 80px;
width: 100%;

}
.logo img{
margin-top: 8px;
width: 160px;
	
}
nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin:0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
}
a.activo,a:hover{
	background: rgba(82, 111, 175, 0.7);
	transition	0.5s;
}

/*del menu despegable*/
nav li ul{
	display: none;
	position: absolute;
	width: 160px;
	background: #173066;
	
}

nav li:hover > ul{
display: block;

}

/*fin de código de menu*/


.general{
width: 100%;
height: auto;
background-color: beige;	
}

.portadahtml img{
	width: 100%;
	
}




@media screen and (max-width: 767px){ /*adapta el contenido con el css*/
	
}