*{
	
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav{
background-color: #417DB6;
	height: 80px;
	width: 100%;	
}

.menu{
	margin-top:15px; 
	width: 48px;
	height: 48px;
}
.Angie{
width: 281px;

	
	
}

nav ul{
	float: right;
	margin-right: 20px;
	
}

nav ul li {
display: inline-block;
	line-height: 80px;
	margin: 0 5px;
	
}

nav ul li a{
	font-family: 'Poppins', sans-serif;
color:#D9F18A;
	font-size: 17px;
	padding: 7px 13px;
	text-transform: uppercase;
}
.press,a:hover{
	background:rgba(109,186,231,0.5);
	border-radius:2px;
	transition:0.5s;
}
.checkbtn{
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor:pointer;
display: none;
	
}
#check{
display: none;
}

/*aqui empieza todo despues del nav*/

.general{
width: 100%;
height: auto;
background-color:beige;	
}

.portada{
margin: auto;
width: 100%;	
height: auto;
background-color: bisque;
}

.portada img{
width: 100%;
		
}

.foto{
margin: auto;
width: 260px;
height: 260px;
background-color: azure;
margin-top: -80px;
border-radius: 300px;
}

.foto img{
	
width: 260px;
height: 260px;
border-radius: 300px;
}
.datos{
width: 90%;
margin: auto;
height: auto;
background-color:beige;
}
.d_1{
margin: auto;
margin-top:1em;
width: 60%;
height: 80px;

}

.d_1 img{
width: 48px;
height: 48px;
float: left;

}
.d_1 p{
float: left;
margin-top: 15px;	
margin-left:10px; 
font-family: 'Poppins', sans-serif;
}

footer{
margin-top: 50px;
width: 100%;	
height:165px;
background-color: #173066;	
}

.redes{
	margin-top:60px;
	float:right;
	width:25%; 
}

.redes img{
width: 48px;	
height: 48px;	
}

.redes2{
	margin-top:10px;
	float:left;
	margin-left:450px;
	width:35%; 
	margin-right:90px;
	height: 20px;
}
.redes2 p{
	letter-spacing: 1px;
text-align: center;
	color: aliceblue;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}



@media screen and (max-width: 767px){ /*adapta el contenido con el css*/
	.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		
		font-size: 16px;
	}
	
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width:100%;
		height: 100%;
		background-color: #234D75;
		top: 80px;
		left:-100%;
		text-align: center;
		transition: all 0.5s;
	}
	
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	
	.press, a:hover{
		background: none;
		color: white;
	}
	#check:checked ~ ul{
		left: 0;
	}
	
	
	/*aqui inicia todo despues del nav*/
	
.general{
margin: auto;	
width:95%;
}
.portada{
margin: auto;
width:90%;
}
.foto{
margin: auto;
width: 180px;
height:0px;
background-color: azure;
margin-top: -80px;
border-radius: 300px;
}

.foto img{
width: 180px;
height: 180px;
border-radius: 300px;
}

.datos{
margin-top:190px; 
width:80%;
height: 600px;

}	
	
footer{
	
height:195px;	
		
	}

	.redes2{
	margin-top:10px;
	float:left;
	margin-left:195px;
	width:35%; 
	margin-right:90px;
}	
}